<li>
	{{burger_name}}

	<button class="change-value" data-id="{{id}}" data-newvalue="{{devoured}}">
		{{#if devoured}}Devour!{{else}}REMAKE!{{/if}}
	</button>

	{{!-- <button class="eat-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
