<li>
	{{burger_name}}

	<button class="btn btn-warning change-value" data-id="{{id}}" data-newvalue="{{devoured}}">
		{{#if devoured}}Devour!<i class="fas fa-hamburger"></i>{{else}}REMAKE!<i class="fas fa-fire"></i>{{/if}}
	</button>

	{{!-- <button class="eat-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
