<li>
	{{burger_name}}

	<button class="btn btn-warning change-value" data-id="{{id}}" data-newvalue="{{eaten}}">
		{{#if devoured}}Remake!<i class="fas fa-fire"></i>{{else}}Devour!<i class="fas fa-hamburger"></i>{{/if}}
	</button>

	{{!-- <button class="eat-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
